.listRequest {
    position: relative;
    width: 100%;
    padding: 40px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boldText {
    font-weight: bold;
    font-size: 25px;
}
.statusContainer {
    display: flex;
    justify-content: end;
    align-items: center;
}
.profStatus {
    margin-left: 10px;
}
.searchbar {
    padding: 0px 100px 0px 100px;
}
.searchbarContents {
    width: 30%;
    float: right;
}
.searchButton {
    background-color: #FFFFFF;
    color: #940C0C;
    padding: 5px 10px;
    border-radius: 12px;
    border: solid 1px #940C0C;
    transition: 0.3s linear;
}
.searchButton:hover {
    background-color: #940C0C;
    color: #FFFFFF;
}
.listContainer {
    height: 400px;
    padding: 0px 100px 20px 100px;
    display: flex;
}
.listChoice {
    background: #940C0C;
    color: #FFFFFF;
}
.choices {
    list-style: none;
    margin-top: 40%;
}
.choices li {
    margin-top: 20px;
    padding-right: 35px;
}
.choices li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
.choices li a.activeLink {
    color: #FFDA56;
}
.choices li a:hover{
    color: #FFDA56;
}
.table {
    overflow-x:auto;
}
thead, tr {
    text-align: center;
}
/* table button status */
.statusComplete {
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
    background-color: #478A12;
    color: #FFFFFF;
}
.statusReject {
    padding: 0px 15px 0px 15px;
    border-radius: 12px;
    background-color: #940C0C;
    color: #FFFFFF;
}
.statusPending {
    padding: 0px 17px 0px 17px;
    border-radius: 12px;
    background-color: #FFDA56;
    color: #000000;
}