/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* uncomment when checking each element */
    /* border: 1px solid yellow;  */
}
header {
    position: relative;
    width: 100%;
    padding: 20px 100px;
    background:#F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signout {
    background-color: #940C0C;
    color: #FFFFFF;
    padding: 4px 40px;
    border-radius: 12px;
    border: 1px solid #940C0C;
}
.signout:active {
    background-color: #F7F7F7;
    color: #940C0C;
    border: 1px solid #940C0C;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    background: #940C0C;
    align-items: center;
    color: #FFFFFF;
    margin-top: auto;
}
.footer {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
