<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Dog Adopt</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="aboutus.component.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand">
            <img src="/assets/logo.svg" height="50px" alt="Your Logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click) = "navigateToHome()" >Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
       
        <a class="btn btn-outline-danger ml-2" href="/login">Login</a>
        <a class="btn btn-danger ml-2" href="/inquire">Inquire for Completion</a>
    </nav>
    <header>
        <img src="assets/banner-about.svg" alt="Your Banner Image">
    </header>
    <!-- About Us Section -->
    <div class="container-fluid mt-5 pt-5 custom-background">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/CSA.jpg" class="d-block w-80 mb-5"alt="Image 1">
            </div>
          
            <div class="col-md-6 mt-md-0 mt-3">
                <div class="pl-md-4">
                    <h2 class="text-left about-heading mb-0 text-white"><strong>CSA</strong></h2>
                    <h2 class="text-left about-heading text-white"><strong>TEAM</strong></h2>
        
                    <p class="justify-text text-black">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis malesuada nisl. Phasellus mauris ligula, tristique vel nunc eget, tincidunt ultrices arcu. Pellentesque non auctor velit. Suspendisse potenti. Etiam eget dignissim lectus. Suspendisse vitae interdum nunc.                     </p>
                    
                    <p class="justify-text text-black">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis malesuada nisl. Phasellus mauris ligula, tristique vel nunc eget, tincidunt ultrices arcu. Pellentesque non auctor velit. Suspendisse potenti. Etiam eget dignissim lectus. Suspendisse vitae interdum nunc.                     </p>
                    <p class="justify-text mb-5 text-black">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis malesuada nisl. Phasellus mauris ligula, tristique vel nunc eget, tincidunt ultrices arcu. Pellentesque non auctor velit. Suspendisse potenti. Etiam eget dignissim lectus. Suspendisse vitae interdum nunc.                     </p>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Team Section -->
    <div class="container mt-4 pt-5 mb-5">
        <h2 class="text-center mb-4 meet-heading"><strong> Nice to Meet You.</strong></h2>
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">ARLENE C. MACATUGGAL, RGc, Rpm</h5>
                        <p class="card-text">Director, Center for Student Advising & Counseling</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ellen Aubrey Z. Respicio</h5>
                        <p class="card-text">CSA Coordinator</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Justine Louise M. Muñoz</h5>
                        <p class="card-text">CSA Staff - Intramuros</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Jennifer P. Tecson</h5>
                        <p class="card-text">CSA Staff – Makati</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Aileen A. Broqueza</h5>
                        <p class="card-text">Life Coach (CpE-O & IE-O)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Leanna Mae A. Cruz</h5>
                        <p class="card-text">Life Coach (CS-O & IT-O)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/person.svg" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Kimberly Anne E. Oliveros</h5>
                        <p class="card-text">Life Coach (ECE-O & EE-O)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-info text-center text-lg-start fixed-bottom" style="background-color: #940C0C !important; color: white;">
        <!-- Copyright -->
        <div class="text-center p-3">
            &copy; Mapúa University | Center of Student Advising
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
