<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Information</title>

    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="show-request.component.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo.svg">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand">
            <img src="/assets/logo.svg" height="50px" alt="Your Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-5"> 
                <br>
                <div class="card rounded-card shadow p-4 pt-0 pb-0">
                    <!-- <form [formGroup]="showReq" (ngSubmit)="update()">
                    <div class="row">
                        
                                <div class="form-group">
                                    <label for="reqId">Request ID</label>
                                    <input formControlName="reqId" type="number" class="form-control" id="reqId" value="{{request.reqId}}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="dogId">Dog ID</label>
                                    <input formControlName="dogId" type="number" class="form-control" id="dogId" value="{{request.dogId}}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="reqName">Requested by</label>
                                    <input formControlName="reqName" type="text" class="form-control" id="reqName" value="{{request.reqName}}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="reqContact">Contact Number</label>
                                    <input formControlName="reqContact" type="text" class="form-control" id="reqContact" value="{{request.reqContact}}"readonly>
                                </div>
        
                                <div class="form-group">
                                    <label for="reqMessage">Message</label>
                                    <textarea formControlName="reqMessage" class="form-control" id="reqMessage" rows="4" value="{{request.reqMessage}}" readonly></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="reqStatus">Status</label>
                                    <select formControlName="reqStatus" class="form-control" id="reqStatus" [value]="request.reqStatus">
                                        <option value="FOR REVIEW">FOR REVIEW</option>
                                        <option value="RESOLVED">RESOLVED</option>
                                    </select>
                                </div>
                        
                    </div>
                    <button type = "submit" class="btn btn-success mr-2">Resolve Request</button>
                    <button type = "button" (click)= "goBack()" class="btn btn-secondary">Back</button>
                    </form> -->
                </div>

            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
