.navbar-nav .nav-item.active .nav-link {
    color: #940C0C !important;
    font-weight: bold;
}


body {
    background-image: url('/assets/contact.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contact-box {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}